### Github actions secrets

AWS_ACCESS_KEY_ID - Токен для доступа к хранилищу. Нужен что бы AWS понимал кто делает запрос
AWS_SECRET_ACCESS_KEY - крипто-ключ к хранилищу, идет в паре с acces_key. Подтверждает что запрос точно от того пользователя который делал запрос.
CLOUDFLARE_API - токен доступа к вашему профилю в cloudflare. Нужен для аутентификации пользователя в систему.
CLOUDFLARE_ID - индетификатор вашего пользователя в профиле. Авторизация в вашу созданную учетную запись.
DOCKER_TUNNEL - токен тунель. Нужен для того что бы frontend мог выйти в сеть.